# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore
# good pattern for small/manageable projects

# ignore all
*

# unignore source
!*.c
!*.h
!*.md
!.gitignore
!Makefile*
!meson.build
!*.sh
!*.Dockerfile
!CMakeLists.txt
