# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore
# good pattern for small/manageable projects

# ignore all
*

# unignore source
!scripts
!*.c
!*.h
!*.md
!.gitignore
!Makefile*
!meson.build
!meson_options.txt
!*.sh
!*.py
!*.Dockerfile
!CMakeLists.txt

